/* Card with expansion toggle*/
.card.expand {
  z-index: 1;
}

.card.expanded {
  -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
}

.card.expansion {
  margin-top: -1.125rem;
  padding-top: .5rem;
  transition: max-height 0.2s ease-out;
  overflow: hidden;
}
